<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Categoría</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <% if (usuarioRol === "dueño") { %>
        <%- include('nav_bar.ejs') %>
    <% } else { %>
        <% if (usuarioRol === "administrador") { %>
            <%- include('nav_bar_admin.ejs') %>
        <% } else { %>
            <%- include('nav_bar_user.ejs') %>
        <% } %>
    <% } %>

    <div class="container mt-5">
        <h1 class="mb-4">Agregar Material</h1>
        <form action="/agregar_material" method="POST">
            <div class="form-group">
                <label for="categoriaMaterial">Categoría:</label>
                <select id="categoriaMaterial" name="categoriaMaterial" class="form-control">
                    <option disabled selected>Seleccione</option>
                        <% materiales.forEach(function(m) { %>
                            <option value="<%= m.categoria_id %>">
                                <%= m.nombre %>
                            </option>
                        <% }); %>
                </select>
            </div>
            <div class="form-group">
                <label for="nombreMaterial">Nombre del Material:</label>
                <input type="text" id="nombreMaterial" name="nombreMaterial" class="form-control" required>
            </div>

            <div class="form-group">
                <label for="descripcionMaterial">Descripción:</label>
                <textarea id="descripcionMaterial" name="descripcionMaterial" class="form-control" rows="4"></textarea>
            </div>

            <div class="form-group">
                <label for="cantidadMaterial">Cantidad:</label>
                <input type="number" id="cantidadMaterial" name="cantidadMaterial" class="form-control" required>
            </div>

            <div class="form-group">
                <label for="colorMaterial">Color:</label>
                <input type="text" id="colorMaterial" name="colorMaterial" class="form-control">
            </div>

            <div class="form-group">
                <label for="precioCompra">Precio de Compra:</label>
                <input type="number" id="precioCompra" name="precioCompra" step="0.01" class="form-control" required>
            </div>

            <button type="submit" class="btn btn-primary">Agregar Material</button>
        </form>
    </div>

</body>
</html>
