<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Categoría</title>
    <link rel="stylesheet" href="css/bootstrap.css">
</head>
<body>
    <% if (usuarioRol === "dueño") { %>
        <%- include('nav_bar.ejs') %>
    <% } else { %>
        <% if (usuarioRol === "administrador") { %>
            <%- include('nav_bar_admin.ejs') %>
        <% } else { %>
            <%- include('nav_bar_user.ejs') %>
        <% } %>
    <% } %>
    
    <h2>productos</h2>



   
</body>

</html>
