<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <% if (usuarioRol === "dueño") { %>
        <%- include('nav_bar.ejs') %>
    <% } else { %>
        <% if (usuarioRol === "administrador") { %>
            <%- include('nav_bar_admin.ejs') %>
        <% } else { %>
            <%- include('nav_bar_user.ejs') %>
        <% } %>
    <% } %>
    <div class="container mt-5">
        <h1 class="mb-4">Agregar Categoría</h1>
        <form action="/addcatmaterial" method="POST">
            <div class="form-group">
                <label for="nombreCategoria">Nombre de la Categoría:</label>
                <input type="text" id="nombreCategoria" name="nombreCategoria" class="form-control" required>
            </div>

            <div class="form-group">
                <label for="unidadCategoria">Unidad:</label>
                <input type="text" id="unidadCategoria" name="unidadCategoria" class="form-control">
            </div>

            <button type="submit" class="btn btn-primary">Agregar Categoría</button>
        </form>
    </div>
    
</body>
</html>