<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Clientes</title>

    <link rel="stylesheet" href="css/bootstrap.css">
</head>
<body>

    <%- include('nav_bar_user.ejs') %>


    <div class="container mt-5">
        <h1 class="mb-4">Registro de Clientes</h1>
        <form action="/client" method="POST">
            <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" class="form-control" required>
            </div>

            <div class="form-group">
                <label for="direccion">Dirección:</label>
                <input type="text" id="direccion" name="direccion" class="form-control" required>
            </div>

            <div class="form-group">
                <label for="celular">Celular:</label>
                <input type="text" id="celular" name="celular" class="form-control" required>
            </div>

            <h5>Elige tu usuario y pon tu contraseña</h5>
            <label for="usuario">Usuario:</label>
            <select id="usuario" name="usuario" class="form-control">
                <option disabled selected>Seleccione</option>
                    <% user.forEach(function(u) { %>
                        <option value="<%= u.nombre %>">
                            <%= u.nombre %>
                        </option>
                    <% }); %>
            </select>

            <div class="form-group">
                <label for="password">Contraseña:</label>
                <input type="password" id="password" name="password" class="form-control" required>
            </div>

            <button type="submit" class="btn btn-primary">Registrar</button>
        </form>
    </div>

</body>
</html>
