<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/bootstrap.css">
</head>
<body>
    <% if (usuarioRol === "dueño") { %>
        <%- include('nav_bar.ejs') %>
        <h3>Bienvenido "<%= usuarioName %>"</h3>
    <% } else { %>
        <% if (usuarioRol === "administrador") { %>
            <%- include('nav_bar_admin.ejs') %>
            <h3>Bienvenido "<%= usuarioName %>"</h3>
        <% } else { %>
            <%- include('nav_bar_user.ejs') %>
            <h3>Bienvenido al inicio</h3>
        <% } %>
    <% } %>


</body>
</html>
