<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pantalla de Logueo con Bootstrap</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet">
    <script src="/js/saltar.js"></script>
    <link rel="stylesheet" href="css/bootstrap.css">

    <style>
        .logo-container {
            display: flex;
            justify-content: center;
            margin-bottom: 30px;
        }
        .logo-container img {
            border-radius: 50%; /* Redondondear */
            width: 100px; /* Ajustar tamaño del logo */
            height: auto;
        }
    </style>
</head>
<body class="bg-dark">

    <div class="container">
        <h1 class="text-center text-white">Taller de costura SHEMY-Bienvenid@</h1>
        <div class="row justify-content-center align-items-center min-vh-100">
            <div class="col-md-5">
                <div class="card mb-5">
                    <div class="card-body">

                        <div class="logo-container">
                            <img src="img/6a45978a-043b-40e7-bb11-c312b933b1f5.jpg" alt="Logo">
                        </div>

                        <form action="/login" autocomplete="off" method="post">
                            <h3 class="text-center mb-4 text-dark">Iniciar Sesión</h3>
                            <% if (typeof error !== 'undefined') { %>
                            <div class="alert alert-danger" role="alert"><%= error %></div>
                            <% } %>
                            <div class="form-group">
                              <div class="input-group">
                                <div class="input-group-prepend">
                                  <span class="input-group-text bg-white text-dark"><i class="bi bi-person-fill"></i></span>
                                </div>
                                <input type="text" class="form-control" id="username" name="username" placeholder="Ingresa tu usuario" required>
                              </div>
                            </div>
                            <div class="form-group">
                              <div class="input-group">
                                <div class="input-group-prepend">
                                  <span class="input-group-text bg-white text-dark"><i class="bi bi-lock-fill"></i></span>
                                </div>
                                <input type="password" class="form-control" id="password" name="password" placeholder="Ingresa tu contraseña" required>
                              </div>
                            </div>
                            <button type="submit" class="btn btn-success btn-block">Ingresar</button>
                          </form>
                        <button type="submit" onclick="saltar('/')" class="btn btn-block">Volver</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
