<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Clientes</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <% if (usuarioRol === "dueño") { %>
    <%- include('nav_bar.ejs') %>
  <% } else { %>
      <% if (usuarioRol === "administrador") { %>
          <%- include('nav_bar_admin.ejs') %>
      <% } else { %>
          <%- include('nav_bar_user.ejs') %>
      <% } %>
  <% } %>
    <h2>Materiales</h2>
    <table class="table table-dark table-striped" id="resultados">
        <thead>
          <tr>
            <th>#</th>
            <th>Categoría</th>
            <th>Material</th>
            <th>Cantidad</th>
            <th>Color</th>
            <th>Descripción</th>
            <% if (usuarioRol === "dueño" || usuarioRol ==="administrador") { %>
              <th>Precio Compra</th>
              <th>Fecha Adquisición</th>
              <th>Acciones</th>
            <% } %>
          </tr>
        </thead>
        <% if (materiales.length> 0) { %>
          <% if (usuarioRol === "dueño" || usuarioRol ==="administrador") { %>
            <tbody>
              <% for(let i=0; i < materiales.length; i++) { %>
                <tr>
                  <td>
                    <%= i + 1 %>
                  </td>
                  <td>
                    <%= materiales[i].categoria %>
                  </td>
                  <td>
                    <%= materiales[i].material %>
                  </td>
                  <td>
                    <%= materiales[i].cantidad %>
                  </td>
                  <td>
                    <%= materiales[i].color %>
                  </td>
                  <td>
                    <%= materiales[i].descripcion %>
                  </td>
                  <td>
                    <%= materiales[i].precio_compra %>
                  </td>
                  <td>
                    <%= materiales[i].fecha_adquisicion %>
                  </td>
                  <td>
                    <div class="d-flex">
                      <% if (usuarioRol === "dueño") { %>
                        <button type="submit">editar</button>
                      <% } %>    
                      <button>
                        <% if (materiales[i].estado === 1) { %>
                          activo
                        <% } else { %>
                          inactivo
                        <% } %>
                      </button>
                    </div>
                  </td>
                </tr>
              <% } %>
            </tbody>
          <% } else { %>
            <tbody>
              <% for(let i=0; i < materiales.length; i++) { %>
                <% if (materiales[i].estado === 1) { %>
                  <tr>
                    <td>
                      <%= i + 1 %>
                    </td>
                    <td>
                      <%= materiales[i].categoria %>
                    </td>
                    <td>
                      <%= materiales[i].material %>
                    </td>
                    <td>
                      <%= materiales[i].cantidad %>
                    </td>
                    <td>
                      <%= materiales[i].color %>
                    </td>
                    <td>
                      <%= materiales[i].descripcion %>
                    </td>
                  </tr>
                <% } %>
              <% } %>
            </tbody>
          <% } %>
        <% } else { %>
          <tbody>
              <tr>
                  <td class="text-center" colspan="6">
                      vacio
                  </td>
              </tr>
          </tbody>
        <% } %>

      </table>

</body>
</html>

