<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nav Bar</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="/js/saltar.js"></script>

</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#" onclick="saltar('/')">SHEMY</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item" id="registrar">
                    <a class="nav-link" href="/user" onclick="saltar('/user')">Registrar Usuario</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/add_materiales" onclick="saltar('/add_materiales')">Agregar Materiales</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/addcatmaterial" onclick="saltar('/addcatmaterial')">Categoria Materiales</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/addcatproduct" onclick="saltar('/addcatproduct')">Categoria Productos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/materiales" onclick="saltar('/materiales')">Materiales</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/productos" onclick="saltar('/productos')">Productos</a>
                </li>
                
            </ul>
        </div>
        <div class="ml-auto">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/logout" onclick="saltar('/')">Salir</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="text-right mt-3 mr-3">
        <span><%= usuarioRol %></span>
    </div>

</body>

</html>