<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Clientes</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <% if (usuarioRol === "dueño") { %>
    <%- include('nav_bar.ejs') %>
  <% } else { %>
      <% if (usuarioRol === "administrador") { %>
          <%- include('nav_bar_admin.ejs') %>
      <% } else { %>
          <%- include('nav_bar_user.ejs') %>
      <% } %>
  <% } %>
    <h2>Productos</h2>
    <table class="table table-dark table-striped" id="resultados">
        <thead>
            <tr>
                <th>#</th>
                <th>Categoría</th>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Color</th>
                <th>Tamaño</th>
                <th>Descripción</th>
                <th>Precio Unitario</th>
                <% if (usuarioRol === "dueño" || usuarioRol ==="administrador") { %>
                    <th>Fecha Lanzamiento</th>
                    <th>Acciones</th>
                <% } %>
            </tr>
        </thead>
        <% if (productos.length> 0) { %>
          <% if (usuarioRol === "dueño" || usuarioRol ==="administrador") { %>
            <tbody>
              <% for(let i=0; i < productos.length; i++) { %>
                <tr>
                  <td>
                    <%= i + 1 %>
                  </td>
                  <td>
                    <%= productos[i].categoria %>
                  </td>
                  <td>
                    <%= productos[i].producto %>
                  </td>
                  <td>
                    <%= productos[i].cantidad %>
                  </td>
                  <td>
                    <%= productos[i].color %>
                  </td>
                  <td>
                    <%= productos[i].tamano %>
                  </td>
                  <td>
                    <%= productos[i].descripcion %>
                  </td>
                  <td>
                    <%= productos[i].precio_unitario %>
                  </td>
                  <td>
                    <%= productos[i].fecha_lanzamiento %>
                  </td>
                  <td>
                    <div class="d-flex">
                      <% if (usuarioRol === "dueño") { %>
                        <button>editar</button>
                      <% } %>
                      <button>
                        <% if (productos[i].estado === 1) { %>
                          activo
                        <% } else { %>
                          inactivo
                        <% } %>
                      </button>
                    </div>
                </tr>
              <% } %>
            </tbody>
          <% } else { %>
            <tbody>
              <% for(let i=0; i < productos.length; i++) { %>
                <% if (productos[i].estado === 1) { %>
                  <tr>
                    <td>
                      <%= i + 1 %>
                    </td>
                    <td>
                      <%= productos[i].categoria %>
                    </td>
                    <td>
                      <%= productos[i].producto %>
                    </td>
                    <td>
                      <%= productos[i].cantidad %>
                    </td>
                    <td>
                      <%= productos[i].color %>
                    </td>
                    <td>
                      <%= productos[i].tamano %>
                    </td>
                    <td>
                      <%= productos[i].descripcion %>
                    </td>
                    <td>
                      <%= productos[i].precio_unitario %>
                    </td>
                  </tr>
                <% } %>
              <% } %>
            </tbody>
          <% } %>
        <% } else { %>
          <tbody>
              <tr>
                  <td class="text-center" colspan="6">
                      vacio
                  </td>
              </tr>
          </tbody>
        <% } %>


      </table>

</body>
</html>