<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios</title>
    <link rel="stylesheet" href="css/bootstrap.css">
</head>
<body>

    <%- include('nav_bar_user.ejs') %>

    <div class="container mt-4">
        <h2 class="mb-4">Servicios</h2>
        
        <!-- Sección de Venta -->
        <div class="mb-5">
            <h3>Venta</h3>
            <input class="form-control mb-2" type="text" placeholder="Detalles del producto...">
            <input class="form-control mb-2" type="number" placeholder="Precio...">
            <p>Se descontará del stock.</p>
            <button class="btn btn-primary">Confirmar Venta</button>
        </div>

        <!-- Sección de Tapizado -->
        <div class="mb-5">
            <h3>Tapizado</h3>
            <select class="form-control mb-2">
                <option value="">Selecciona una opción</option>
                <option value="mueble">Mueble</option>
                <option value="vehiculo">Vehículo</option>
                <option value="auto">Auto</option>
                <option value="moto">Moto</option>
            </select>
            <input class="form-control mb-2" type="text" placeholder="Detalles del tapizado...">
            <input class="form-control mb-2" type="number" placeholder="Precio...">
            <p>Se utilizarán materiales del inventario.</p>
            <button class="btn btn-success">Confirmar Tapizado</button>
        </div>

        <!-- Sección de Reparación -->
        <div class="mb-5">
            <h3>Reparación</h3>
            <input class="form-control mb-2" type="text" placeholder="Detalles de la reparación...">
            <input class="form-control mb-2" type="number" placeholder="Precio...">
            <p>Se utilizarán materiales del inventario.</p>
            <button class="btn btn-warning">Confirmar Reparación</button>
        </div>
    </div>
    
</body>
</html>