<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Usuarios</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <% if (usuarioRol === "dueño") { %>
        <%- include('nav_bar.ejs') %>
    <% } else { %>
        <% if (usuarioRol === "administrador") { %>
            <%- include('nav_bar_admin.ejs') %>
        <% } else { %>
            <%- include('nav_bar_user.ejs') %>
        <% } %>
    <% } %>
    <div class="container mt-5">
        <h1 class="mb-4">Registro de Usuarios</h1>
        <form action="/user" method="POST">
            <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" class="form-control" required>
            </div>

            <div class="form-group">
                <label for="contrasena">Contraseña:</label>
                <input type="password" id="contrasena" name="contrasena" class="form-control" required>
            </div>

            <div class="form-group">
                <label for="rol">Rol:</label>
                <select id="rol" name="rol" class="form-control">
                    <option value="admin">Administrador</option>
                    <option value="usuario">empleado</option>
                </select>
            </div>

            <div class="form-group">
                <label for="ci">CI:</label>
                <input type="int" id="ci" name="ci" class="form-control" required>
            </div>

            <button type="submit" class="btn btn-primary">Registrar</button>
        </form>
    </div>

</body>
</html>
